
a:hover,
a:active,
a:focus,
select:focus,
#headlinks ul li > a:hover,
#footer ul.lnkgroup li.active > a,
#footer ul.lnkgroup li a:hover {
   color:#B90100;
   transition: color 0.2s ease 0s, background-color 0.2s linear 0s;
   
}
#settings ul li > a:hover,
#settings ul li a.active,
#headlinks li:last-child a,
#topnavi > ul.subcat-0 > li.node > a:hover,
#topnavi ul.subcat-1 li.active a,
#topnavi ul.subcat-0 li.node h4 a,
#topnavi > ul > li.active > a,
#topnavi ul li a:hover,
#footer ul.lnkgroup li a:hover,
ul.categories li.current > a,
ul.categories li.active > a,
.news p a,
span.price {
   /*ODM all4sps red yummy: 27.08.2013*/
   color:#B90100;
   transition: color 0.2s ease 0s, background-color 0.2s linear 0s;
}

#topnavi > ul > li:hover > a > span {
   border-bottom:4px solid #B90100;
}

#topnavi > ul > li#search:hover {
   border-color:#333;
}

.scrollTo_top,
ul.semtabs li.active a,
ul.semtabs li a:hover,
a.submit,
a.submit:visited,
a.submit:hover,
#headlinks li.last a span,
input[type="submit"],
button[type="submit"],
button[type="button"],
input[type="submit"]:hover,
span.page.selected,
.jcarousel-skin-flat .jcarousel-prev-horizontal:hover,
.jcarousel-skin-flat .jcarousel-next-horizontal:hover,
ul.pagenavi li.page.selected a,
.preisslider .ui-state-default, .preisslider .ui-widget-content .ui-state-default, .preisslider .ui-widget-header .ui-state-default,
#services li#search input[type="submit"] {
   background-color:#B90100;
   transition: color 0.2s ease 0s, background-color 0.2s linear 0s;
}
select:focus {
   
}