/*
 * Reset Print Styles 
 */ 

html {
   font: normal 0.75em/1.3 Verdana, Helvetica, Arial, sans-serif;
   color: #333;
}

body, html {
   height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, label, input, button, textarea, select, p, blockquote, th, td {
   margin: 0;
   padding: 0;
}

h1, h2, h3 {
   padding: 0;
   margin : 0 0 0.35em 0;
}

h1 {
   margin : 0 0 1.8em 0;
   font : 2em "Trebuchet MS", sans-serif;
   color : #333;
}

h2 {
   font : 1.6em "Trebuchet MS", sans-serif;
}

h3 {
   margin-top: 1.5em;
   font-size : 1.1em;
}

strong,
h3, h4, h5, h6 {
   font-weight : bold;
}

ul, ol {
   list-style-type: none;
}

fieldset {
   border: 0;
}

fieldset legend {
   font-weight: bold;
}

label:hover {
   cursor: pointer;
}

img {
   border: 0;
}

/*
 *  google chrome input border glow
 */
*:focus, a, textarea, input, select {
   outline: none;
}

/*
 *  firefox dotted links
 */
* {
  -moz-outline-style: none;
}

*::-moz-focus-inner {
   border: none;
}

/*
 *  format
 */
.hide_overflow {
   overflow: hidden !important;
}

.left {
   float :left !important;
}

.right {
   float: right !important;
}

.clear {
   clear: both;
   width: 100%;
   display: block;
}

.tcenter {
   text-align: center;
}

.tleft {
   text-align: left;
}

.tright {
   text-align: right;
}

.nospacing {
   margin: 0 !important;
   padding: 0 !important;
}

.nomargin {
   margin: 0 !important;
}

.vmiddle {
   vertical-align: middle;
}

.vtop {
   vertical-align: top;
}

.noborder {
   border: 0 !important;
}

.hidden {
   display: none;
}

.hidden_force {
   display: none !important;
}

.invisible {
   visibility: hidden;
}

.visible {
   visibility: visible;
}

.nowrap {
   white-space: nowrap;
}

.infocur {
   cursor: help !important;
}

.zoomcur {
   cursor: url('./images/zoom.cur'), pointer;
   cursor: -webkit-zoom-in;
   cursor: -moz-zoom-in;
}

/*
 *  horizontal list
 */
ul.hlist {
   width: 100%;
   overflow: hidden;
}

ul.hlist li {
   float: left;
   display: block;
}

ul.thead {
   border-bottom: 1px solid #ccc;
}

/*
 *  vertical list
 */
ul.vlist {
   width: 100%;
   overflow: hidden;
}

ul.vlist li {
   float: none;
   display: block;
}

/*
 *  percent widths
 */
.p10 {
   width: 10%;
}

.p15 {
   width: 15%;
}

.p20 {
   width: 20%;
}

.p25 {
   width: 25%;
}

.p30{
   width: 30%;
}

.p33 {
   width: 33.333333333333333%;
   w\idth: 33.333333333333333%;
}

.p35{
   width: 35%;
}

.p40 {
   width: 40%;
}

.p50 {
   width: 49.99%;
}

.p66 {
   width: 66%;
}

.p75 {
   width: 75%;
}

.p80 {
   width: 80%;
}

.p98 {
   width: 98%;
}

.p100 {
   width: 100%;
}

.cl {
   margin: 0 5px 0 0;
}

.cc {
   margin: 0 5px;
}

.cr {
   margin: 0 0 0 5px;
}

.vmiddle {
   vertical-align: middle;
}

.clearall:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.clearall {
   display: inline-block;
}

html .clearall {
   height: 1%;
}

.clearall {
   display:block;
}

/*
 *  table
 */
table{
   width: 100%;
   border-collapse: separate;
   border-spacing: 0;
}

table th,
table td {
   padding: 2px;
   border: 0;
   /* vertical-align: middle; */
}

table tfoot th {
   border: 0;
}

.p50 .first {
   margin: 0 5px 0 0;
}

.p50 .last {
   margin: 0 0 0 5px;
}

.p33 .middle {
   margin: 0 10px 0 10px;
}




/*
 * content classes
 */
#content .custom_content {
   margin: 0 0 1.5em 0;
   padding: 0;
   overflow: hidden;
}

#content .custom_content p {
   margin-bottom: 1.5em;
}

#content .custom_content p:last-child {
   margin-bottom: 0;
}

#content .semtabs .custom_content {
   margin: 0;
}

#content .custom_content ul {
   list-style-type: disc;
   margin: 10px 0 10px 35px;
}

#content .custom_content li,
#content .custom_content ul {
   float: none !important;
}

#content .custom_content ol {
   list-style-type: upper-roman;
   margin: 10px 0 10px 35px;
}

#content #new_account .box_plain {
   margin: 0.3em 0 1em 0;
}

#content #new_account .box_plain:last-child {
   margin-bottom: 0;
}

/*
 *  layouts
 */
#sidepanel_right,
#sidepanel_left {
   display: none;
}

.panel_left #content
{
   margin-left: 180px;
   padding-left: 10px;
}

.panel_left #sidepanel_left
{
   z-index: 2;
   float: left;
   width: 180px;
   text-align: left;
   margin-left: -100%;
   display: block;
}

.panel_right #content
{
   margin-right: 200px;
   padding-right: 10px;
}

.panel_right #sidepanel_right
{
   z-index: 2;
   float: right;
   width: 200px;
   text-align: left;
   display: block;

   /* border fix */
   margin-left: -202px;
   margin-right: 2px;
}

/*
 *  formular
 */
.form fieldset {
   border: 1px solid #ddd;

   /* radius 4 all */
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;

   padding: 10px;
   margin: 0 0 1em 0;
}

.form fieldset.outer {
   border: none;
   padding: 0;
   margin: 0;
   width: 100%;
}

.form fieldset legend {
   font-size: 1em;
}

.form fieldset label {
   display: block;
}

.form fieldset label.active {
   color: #004fa8;
}

.input_block li {
   float: left;
   margin: 0.4em 1em 0.4em 0;
}

.form fieldset .error_block {
   background-color: #fff3e3;
}

.form fieldset  select,
.form fieldset  textarea,
.form fieldset  input[type="text"],
.form fieldset  input[type="password"] {
   padding: 0.25em;
   font-size: 1.1em;
}

.form fieldset  textarea {
   padding: 0.5em;
   font : 1.1em "Trebuchet MS", sans-serif;
}

.form fieldset .error_block select,
.form fieldset .error_block textarea,
.form fieldset .error_block input[type="text"],
.form fieldset .error_block input[type="password"] {
   border: 1px solid #be4824;
}

.form fieldset .error_text {
   font-size: 0.8em;
   font-weight: bold;
   color: #be4824;
}

.form fieldset label.desc {
   display: inline;
}

.address ul.input_block {
   margin: 1em 0 0 0;
}

/*
 *  table
 */
table.tiny th,
table.tiny td {
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
}

table.tiny thead th,
table.tiny thead td {
   padding: 4px 2px;
}




/*
table.tiny td div.image_wrapper {
   width: 80px;
   text-align: left;
   float: left;
}

table.tiny td div.article_wrapper {
   width: 100%;
   height: 100%;
   position: relative;
   padding: 3px;
}

table.tiny td div.desc {
   position: relative;
   float: left;
}

table.tiny.basket td div.desc {
   position: relative;
   float: none;
   overflow: hidden;
}

table.tiny.basket td {
   padding: 0 10px;
}

table.tiny.basket td div.desc p {
   padding-right: 110px;
}

table.tiny.basket td div.options {
   position: absolute;
   top: 0; right: 10px;
   text-align: right;
}

table.tiny.basket td div.options  p {
   padding: 2px 0;
}

table.tiny.basket td div.options  a {
   color: #666;
}

table.tiny.basket td div.options  a:hover {
   color: #3E47A2;
}

table.tiny input.count {
   width: 3em;
}

table.tiny thead tr {
   background-color: #f7f7f7;
}
*/

table.tiny ul.children_ex {
   margin: 5px 0 0 2px;
   overflow: hidden;
   list-style: inside disc none;
}

table.tiny ul.children_ex li {
   padding: 2px 0;
   font-size: 0.9em;
}

table.tiny ul.children_ex li span.price {
   font-size: 1em;
   vertical-align: top;
}

table.tiny.basket th,
table.tiny.basket td {
   border: 0;
}

table.tiny.basket th {
   font-size: 0.9em;
   font-weight: normal;
   text-transform: uppercase;
   border-bottom: 1px solid #ddd;
}

table.tiny.basket td {
   font-size: 0.9em;
   padding: 15px 5px;
}

table.tiny.basket tr td {
   border-bottom: 1px solid #ddd;
}

table.tiny.basket td select.quantity_sel {
   width: 4.0em;
}

table.tiny.basket td.img {
   width: 70px;
   vertical-align: top;
}

table.tiny.basket td.qty {
   width: 80px;
   background-color: #f9f9f9;
}

table.tiny.basket td.price {
   width: 100px;
}

table.tiny.basket td a {
   text-decoration: none;
}

table.tiny.basket td p.price_overall,
table.tiny.basket td span.price_value {
   color: #D00000;
}

table.tiny.basket td p.price_overall {
   font-size: 1.1em;
}

table.tiny.basket td div.actions {
   margin: 10px 0 0 0;
}

table.tiny.basket td div.config {
   padding: 5px;
   background-color: #f9f9f9;
   
   /* radius 4 all */
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
}

table.tiny ul.children {
   margin: 0 0 0 2px;
   overflow: hidden;
   list-style: inside none none;
}

table.tiny ul.children li {
   padding: 2px 0; 
   white-space: nowrap;
}

table.tiny ul.children li p {
   overflow: hidden;
}

table.tiny ul.children li p.qty {
   float: left;
   color: #666;
   min-width: 20px;
   margin: 0 5px 0 0;
}

table.tiny ul.children li span.price {
   vertical-align: top;
}

/*
 *  basket
 */
#content a.droppos,
#content a.configurepos {
   text-decoration: none;
   padding: 0 0 0 14px;
   margin: 0 3px 0 0;
   font-size: 0.9em;
   color: #444;
   text-shadow: 1px 1px 0px #fff;
}
 
#content a.droppos {
   background: url('./images/delete10.png') no-repeat center left;
}

#content a.configurepos {
   background: url('./images/edit10.png') no-repeat center left;
}

#basket_price_wrapper {
   margin: 0;
   padding: 0;
   position: relative;
   background-color: #f9f9f9;
   border-bottom: 1px solid #ddd;
}

#basket_price_wrapper p {
   color: #333;
}

#basket_price_wrapper span.price_value {
   font-size: 1.1em;
   font-weight: bold;
}

#basket_price_wrapper span.price_label {
   font-weight: bold;
   font-size: 1.1em;
}

#basket_price_wrapper span.tax_label {
   font-size: 0.95em;
}

#basket_price_wrapper div.info_base  {
   float: left;
   padding: 12px 0 0 5px;
}

#basket_price_wrapper div.total_amount  {
   float: right;
   width: 350px;
   text-align: right;
   padding: 5px;
}

#basket_price_wrapper div.total_amount table tr td {
   text-align: right;
}


#basket_checkout {
   margin: 10px 0;
}

#basket_checkout a.submit {
   padding: 0.45em !important;
}

#basket_notification {
   color: #fff;
   font-weight: bold;
   text-shadow: 1px 1px 0px #000;
   background: #444;

   position: relative;
   padding: 15px;

   /* radius 4 all */
   border-radius: 0 0 10px 10px;
   -moz-border-radius: 0 0 10px 10px;
   -webkit-border-radius: 0 0 10px 10px;
   -khtml-border-radius: 0 0 10px 10px;
}

#article_pushed {
   width: 500px;
   min-width: 500px;
}

#article_pushed .article_pushed_xseller {
   margin: 15px 0 0 0;
   height: 110px;
   max-height: 110px;
   overflow: hidden;
}

#article_pushed .article_pushed_xseller h2 {
   font-size: 1.2em;
   font-weight: bold;
}

#article_pushed div.img {
   float: left;
   margin: 0 10px 0 0;
}

#article_pushed div.info {
   overflow: hidden;
}

#article_pushed div.info ul li {
   margin: 2px 0;
}

#article_pushed div.info ul li span.price {
   font-size: 1.0em;
}

#article_pushed div.actions {
   padding: 4px 0;
   margin: 5px 0 0 0;
   text-align: right;
   border-top: 1px dashed #ccc;
}

/*
 *  checkout steps
 */

#checkout_steps {
   margin: 0 0 1em 0;
   position: relative;
   height: 42px;
   background-color: #f7f7f7;
}

#checkout_steps li a {
   text-decoration: none;
}

#checkout_steps li {
   list-style-type: none;
   list-style-position: inside;
   float: left;
   padding: 10px 20px 10px 30px;
   height: 22px;
   line-height: 22px;
   position: relative;
   margin-left: -20px;
   left: 20px;
   background: transparent url(./images/checkout_steps.gif) top right repeat-y;
   vertical-align: middle;
}

#checkout_steps a {
   color: #000;
}

#checkout_steps .first {
   padding-left: 10px;
}

#checkout_steps .step1 {
   z-index: 5;
}

#checkout_steps .step2 {
   z-index: 4;
}

#checkout_steps .step3 {
   z-index: 3;
}

#checkout_steps .step4 {
   z-index: 2;
}

#checkout_steps .step5 {
   z-index: 1;
}

#checkout_steps .state3 {
   background-position: right -200%; color: #777;
}

#checkout_steps .state2 {
   background-position: right -100%; color: #708569;
}

#checkout_steps .state1 {
   font-weight: bold;
}

/*
 *  row selection
 */
ul.rowsel li {
   margin: 0.25em 0;
   padding: 0.25em;
   position: relative;
   vertical-align: middle;
}

ul.rowsel li:hover {
   background-color: #f9f9f9;
}

ul.rowsel li div.check {
   float: left;
   width: 25px;
}

ul.rowsel li div.desc {
   overflow: hidden;
}

ul.rowsel li div.amount {
   right: 0; top: 0;
   position: absolute;
   padding: 0.25em;
}

/*
 *  basic article list
 */
ul.articles li {
   margin: 0 0 5px 0;
}

ul.articles li div {
   margin: 5px;
}

ul.articles li div p.small {
   font-size: 0.9em;
   color: #666;
}

/*
 *  misc
 */
del {
   text-decoration: line-through;
}

#popup .container,
#content .container {
   margin: 15px 0;
   /*clear: both;*/
}

#content .container.top {
   margin-top: 0px;
}

#content .container.bottom {
   margin-bottom: 0px;
}

#content h1.underline,
#content h2.underline {
   border-bottom: 1px dotted #ccc;
}

#bezoom {
   border: 2px solid #ddd;
   background-color: #fff;
   position: relative;
   z-index: 3;
}

#bezoom .title {
   left: 0;
   bottom: 0;
   position: absolute;
   padding: 3px;
   font-size: 0.9em;
}

.zoomer {
   top: 0; left: 0;
   position: absolute;
   background-color: #000;
   cursor: crosshair !important;

   filter:alpha(opacity=10);
   -moz-opacity:0.10;
   -khtml-opacity: 0.10;
   opacity: 0.10;
}

span.success {
   display: inline-block;
   width: 16px;
   height: 16px;
   background: transparent url('images/success_small.png') no-repeat center;
}

span.notice {
   display: inline-block;
   width: 16px;
   height: 16px;
   background: transparent url('images/notify_small.png') no-repeat center;
}

/*
 *  button with icon
 */
button.refresh {
   overflow: visible;
}

button.refresh span {
   background: url('./images/refresh16.png') no-repeat center left;
   padding: 0 0 0 20px;
   display: block;
   white-space: nowrap;
}

button.active span {
   background: url('./images/refresh_orange16.png') no-repeat center left;
}

button.advise,
button.notification,
button.question,
button.wishlist,
button.compare {
   border: 0;
   margin: 0;
   padding: 0;
   font-size: 1.1em;
   text-align: left;
   background-color: transparent;
}

button.compare {
   background: url('./images/compare_small.png') no-repeat 0 50%;
   padding-left: 20px;
}

button.wishlist {
   background: url('./images/wishlist_small.png') no-repeat 0 50%;
   padding-left: 20px;
}

button.question {
   background: url('./images/question_small.png') no-repeat 0 50%;
   padding-left: 20px;
}

button.notification {
   background: url('./images/notify_small.png') no-repeat 0 50%;
   padding-left: 20px;
}

button.advise {
   background: url('./images/mail_small.png') no-repeat 0 50%;
   padding-left: 20px;
}

/*
 * signal image
 */
.signal_image.a0 {
   color: #B80000; /* red */
}

.signal_image.a1 {
   color: #2896ec; /* blue */
}

.signal_image.a2 {
   color: #007C00; /* green */
}

/*
 *  articles: base
 */
.styled_view {
   width: 100%;
}

.styled_view input.quantity {
   width: 2em;
   padding: 0.2em;
}

.styled_view li {
   display: block;
}

.styled_view .custom_content ul, .styled_view .custom_content ol {
   margin: 0 0 0 20px;
}

.styled_view .custom_content li {
   display: list-item;
}

.styled_view li ul li {
   margin: 2px 0;
}

.styled_view li .article_image {
   text-align: center;
}

.styled_view li ul.article_info {
   overflow: hidden;
   list-style: disc outside none;
}

.styled_view li ul.article_info > li {
   color: #666;
   font-size: 0.9em;
   margin-left: 1.5em;
   display: list-item;
}

.styled_view li ul.article_info li.clean {
   list-style: none;
   margin-left: 0;
}

.styled_view  #article_short_desc.custom_content {
   margin-bottom: 0em;
}

.styled_view li .article_wrapper {
   background-color: #fff; /* fix fuer ie7-bug http://www.postner.de/blog/2007/02/28/flackern-bei-linkhover-im-ie7/ */
   border: 3px solid transparent;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
}

.styled_view li .article_wrapper:hover {
   background-color: #FDFDFD;
   border: 3px solid #FAFAFA;
}

/*
 *  articles: list
 */
.styled_view li.list {
   width: 100%;
   padding: 0;
}

.styled_view li.list h3 {
   margin: 0 0 4px 0;
   padding: 0;
}

.styled_view li.list .article_wrapper {
   text-align: left;
   position: relative;
}

.styled_view li.list .article_wrapper span.stars {
   position: absolute;
   top: 3px;
   right: 0;
}

.styled_view li.list .article_image {
   float: left;
   padding-right: 8px;
}

.styled_view li.list .article_info_wrapper {
   overflow: hidden;
}

.styled_view li.list ul.article_info {
   width: 50%;
   float: left;
}

.styled_view li.list .article_price {
   width: 50%;
   float: right;
   text-align: right;
}

.styled_view li.list .article_buy {
   padding-top: 10px;
   vertical-align: middle;
}

.styled_view li.list .article_buy input[type="submit"] {
   vertical-align: middle;
}

.styled_view li.list .article_buy  span {
   vertical-align: middle;
}

.styled_view li.list .article_combi {
   clear: both;
}

.styled_view li.list .differential_price,
.styled_view li.list .financing {
   display: inline-block;
}

/*
 *  articles: gallery
 */
* html #bestseller_view li.gallery,
* + html #bestseller_view li.gallery {
   display:inline;
}

.styled_view li.gallery {
   width: 32.8%;
   display: inline-block;
   vertical-align: top;
   overflow: hidden;
}

.styled_view li.gallery h3 {
   margin: 4px 0;
   padding: 0;
   font-size: 1.0em;
   font-weight: normal;
   text-align: center;
   /*display: none;*/
}

.styled_view li.gallery .article_wrapper {
   margin: 8px 3px 16px 3px;
   padding: 10px 0;
}

.styled_view li.gallery .article_financing {
   display: none;
}

.styled_view li.gallery .article_image {
   width: 100%;
   text-align: center;
}

.styled_view li.gallery .article_price {
   width: 100%;
   text-align: center;
}

.styled_view li.gallery .article_buy {
   display: none;
}

.styled_view li.gallery .article_wrapper span.stars,
.styled_view li.gallery .differential_price,
.styled_view li.gallery .article_info,
.styled_view li.gallery .article_combi {
   display: none;
}

/*
 *  articles: mosaic
 */

* html .styled_view li.mosaic,
* + html .styled_view li.mosaic {
   display: inline;
}

.styled_view li.mosaic {
   width: 24.5%;
   display: inline-block;
   vertical-align: top;
   overflow: hidden;
}

.styled_view li.mosaic .article_wrapper {
   margin: 3px;
   padding: 10px 0;
}

.styled_view li.mosaic .article_image {
   width: 100%;
   text-align: center;
}

.styled_view li.mosaic h3,
.styled_view li.mosaic .article_wrapper span.stars,
.styled_view li.mosaic .differential_price,
.styled_view li.mosaic .article_financing,
.styled_view li.mosaic .article_price,
.styled_view li.mosaic .article_info,
.styled_view li.mosaic .article_buy,
.styled_view li.mosaic .article_combi {
   display: none;
}

/*
 *  articles: bestseller
 */
.styled_view.bestseller {
   border: 1px solid #ddd;
}

/*
 *  extended design
 */
a.ed {
   float: left;
   display: block;
   padding-left: 22px;
   height: 16px;
   margin: 0 0 0 10px;
}

a.gallery {
   background: url('./images/ed.png') no-repeat 0px 0px;
}

a:hover.gallery {
   background: url('./images/ed.png') no-repeat 0px -24px;
}

a.gallery.active,
a:active.gallery {
   background: url('./images/ed.png') no-repeat 0px -48px;
}

a.list {
   background: url('./images/ed.png') no-repeat 0px -72px;
}

a:hover.list {
   background: url('./images/ed.png') no-repeat 0px -96px;
}

a.list.active,
a:active.list {
   background: url('./images/ed.png') no-repeat 0px -120px;
}

a.mosaic {
   background: url('./images/ed.png') no-repeat 0px -144px;
}

a:hover.mosaic {
   background: url('./images/ed.png') no-repeat 0px -168px;
}

a.mosaic.active,
a:active.mosaic {
   background: url('./images/ed.png') no-repeat 0px -192px;
}

/*
 * page navigation
 */
ul.pagenavi li {
   display: inline;
}

ul.pagenavi li.page a {
   padding: 0.1em 0.45em;
   display: inline-block;
   text-decoration: none;

   color: #444;
   background-color: #f0f0f0;
}

ul.pagenavi li.page.selected a {
   background-color: #ccc;
}

ul.pagenavi li.page a:hover,
ul.pagenavi li.page.selected a:hover {
   background-color: #ccc;
}

ul.pagenavi li.prev {
   margin: 0 5px 0 0;
}

ul.pagenavi li.next {
   margin: 0 0 0 5px;
}

ul.hlist.pad li {
   padding: 0.5em 0;
}

/*
 *  tabs
 */
div.semtabs {
   margin: 0;
   padding: 10px;
   border: 1px solid #ddd;
}

ul.semtabs {
   margin: 0 auto;
   clear: both;
   list-style: none !important;
   height: 31px;
}

ul.semtabs li {
   float: left;
   display: block;
   margin: 0 2px 0 0 !important;
}

ul.semtabs li a {
   line-height: 15px;
   display: block;
   padding: 8px;
   text-decoration: none;
   background-color: #eee;
   color: #000;
}

ul.semtabs li.active a {
   background-color: #ddd;
   color: #000;
}

.panel h2.title {
   display: none;
}

.panel.notab {
   margin: 20px 0;
}

.panel.notab h2 {
   display: block;
}

/*
 *  tabs / configuration
 */
div.configtabs {
   margin: 8px 0 0 0;
   padding: 5px 0 0 0;
   border-top: 1px solid #f0f0f0;
}

#configset ul.semtabs {
   clear: left;
}

#configset ul.configtabs {
   margin: 0 auto;
   clear: both;
   list-style: none !important;
   height: 31px;
}

#configset ul.semtabs li {
   float: left;
   display: block;
   margin: 0 5px 0 0 !important;
}

#configset ul.semtabs li a {
   line-height: 15px;
   display: block;
   padding: 8px;
   text-decoration: none;
   background-color: #eee;
   color: #000;
   
   /* radius 4 all */
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
}

#configset ul.semtabs li.active a {
   background-color: #f0f0f0;
   color: #000;
}

#configset .item_wrapper_single {
   float: left;
   width: 25%;
}

#configset .item_wrapper_single .item {
   margin: 5px;
   height: 270px;
   position: relative;
   text-align: center;
   background: #fff url('./images/item_bg.png') repeat-x;
   border: 1px solid #e5e5e5;
   
   /* radius 4 all */
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
}

#configset .item_wrapper_multi {
   float: left;
   width: 50%;
}

#configset .item_wrapper_multi .item {
   margin: 5px;
   height: 100px;
   position: relative;
   
}

#configset .item_wrapper_multi .item  div.img {
   float: left;
}

#configset .item_wrapper_multi .item  div.text {
   padding: 10px 0 0 15px;
   overflow: hidden;
}

#configset .item_wrapper_multi .item  div.text p.price {
   padding: 0 0 10px 0;
}

#configset .item_wrapper_multi .item  div.text p.price span.price {
   font-size: 1em;
}

#configset .item_wrapper_multi .item a.submit {
   padding: 1px 8px !important;
   font-size: 1.4em !important;
   font-weight: bold !important;
   color: #666 !important;
   text-shadow: #fff 0px 1px 0px;
}

#configset .item h3 {
   margin: 15px 0 10px 0 ;
   font-size: 0.85em;
   font-weight: bold;
}

#configset .item a.submit {
   padding: 4px 15px !important;
   background: #f0efef url('./images/grey_button_bg.png') repeat-x !important;
   border: 1px solid #ccc;
   text-shadow: #fff 0px 1px 0px;
}

#configset .item p.img {
   margin: 10px 0 10px 0;
}

#configset .item.first {
   margin-left: 0px;
}

#configset .item.last {
   margin-right: 0px;
}

#config_ex .info_wrapper {
   float: right; 
   width: 220px;
   background-color: #F4F4F4;
}

#config_ex .items { 
   margin-right: 230px;   
}

#config_ex .info {
   margin: 5px;
}

#config_ex .info > p {
   padding: 0 0 5px 0;
   font-size: 1.1em;
   font-weight: bold;
}

#config_ex .info .selected_items {
   background-color: #fff;
   padding: 5px;
}

#config_ex .info .selected_items .sel_item {
   width: 98px;
   height: 98px;
   background-color: #f8f8f8;
   float: left;
   margin: 1px;
}

#config_ex .info .price_wrapper {
   margin: 10px 0 5px 0;
   text-align: center;
}

#config_ex .info .price_wrapper p.price {
   text-align: right;
   padding: 0 0 5px 0;
}

#config_ex .info .price_wrapper span.price {
   font-size: 1.6em;
}

#config_ex .info .price_wrapper button[type="submit"].submit {
   width: 100%;
   padding: 8px 0 !important;
}

/*
 *  attributes
 */
#attribute_list {
   margin: 0;
   overflow:hidden;
}

#attribute_list .item {
   float: left;
   clear: both;
   width: 100%;
   margin-bottom: 3px;
   background-color: #f8f8f8;
}

#attribute_list strong.label {
   float: left;
   width: 25%;
   display: block;
   font-weight: bold;
   vertical-align: middle;
   line-height: 22px;
}

#attribute_list ul.values {
   vertical-align: middle;
   margin-left: 26%;
   font-size: 0.9em;
   background-color: #fff;
   padding: 1px 1em;
}

#attribute_list ul.values li img {
   vertical-align: middle;
   max-height: 40px;
}

#attribute_list ul.values li {
   display: inline;
   margin-right: 5px;
   white-space: nowrap;
   line-height: 22px;
}

/*
 *  taglist
 */
li.tag {
   padding-right: 1.6em;
}

/*
 *  article details
 */
#article {
   width: 100%;
}

#article #goto {
   margin: 10px 0;
}

#article .prev_article {
   width: 50%;
   float: left;
}

#article .next_article {
   width: 50%;
   float: right;
   text-align: right;
}

#article #goto span.next {
   width: 50%;
   font-weight: bold;
}

span.price_label {
   vertical-align: middle;
}

span.price {
   color: #d00000;
   font-size: 1.4em;
   font-weight: normal;
   vertical-align: middle;
   white-space: nowrap;
}

span.price_image {
   display: inline-block;
   white-space: nowrap;
}

.price_wrapper .price_img {
   white-space: nowrap;
}

span.price_image img {
   vertical-align: middle;
}

label span.price {
   font-size: 1em;
   font-weight: normal;
   vertical-align: inherit;
}

span.tooltitle {
   border-bottom: 1px dotted #999;
   cursor: help;
}

span.vat_info {
   font-size: 85%;
}

span.vat_info {
   color: #777;
}

span.vat_info a {
   color: #555;
}

#article .article_image {
   float: left;
   margin: 0 10px 0 0;
}

.article_varcombi ul.hlist {
   width: auto;
}

#article .article_details {
   overflow: hidden;
}

#article ul.article_list li {
   display: block;
}

#article ul.article_list li ul.actions {
   margin: 1em 0 0.25em 0;
}

#article ul.article_list li ul.actions li {
   line-height: 1.8em;
}

#article ul.article_list li.addthis {
   margin: 8px 0 0 0;
}

#article .article_images {
   vertical-align: middle;
   border: 2px solid #eee;
   border-top-width: 0;
   font-weight: bold;
   padding: 4px;
}

#article .article_images a {
   text-decoration: none;
}

#article .article_images a:hover img {
   border: 2px solid #eee;
}

#article .article_images li {
   padding: 0 10px 0 0;
}

#article .article_images img {
   padding: 0;
   margin: 1px;
   vertical-align: middle;
   border: 2px solid transparent;

   /* radius 4 all */
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   -khtml-border-radius: 2px;
}

#article .article_images img.active {
   border: 2px solid #ddd;
}

#article .article_varcombi {
   margin-top: 5px;
}

#article .article_varcombi p {
   font-weight: bold;
}

#article .article_varcombi img {
   vertical-align: middle;
   border: 2px solid #eee;
   margin-right: 4px;
}

#article_buyfield {
   position: relative;
}

#article_buyfield .loader {
   display: none;
   position: absolute;
   top: 0; right: 0;

   margin: 10px;
   padding: 10px 10px 10px 30px;
   background: #fff url('./images/indicator.gif') no-repeat 10px center;

   /* radius 4 all */
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
}

.financing,
.comment,
.differential_price,
#article .article_matrix,
#article fieldset.article_buyfield {
   margin: 1em 0;
   padding: 10px;
   background-color: #f5f5f5;
   display: inline-block;

   /* radius 4 all */
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
}

select.variation {
   max-width: 300px;
}

/*
 *  comment
 */
.comment {
   display: block;
   position: relative;
   background-color: #f5f5f5;
}

.comment.active {
   background-color: #f0f0f0;
}

.comment.active p.helpfully {
   display: block;
}

.comment.jsenabled.active p.helpfully {
   display: none;
}

.comment.most_useful {
   background-color: #fff4e6;
}

.comment.active.most_useful {
   background-color: #fff0dd;
}

.comment p.box_notice {
   background-color: #fff;
   padding: 10px 8px;
   margin: 0 0 1em 0;

   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
}

.comment p.title {
   font-weight: bold;
   position: relative;
   margin: 0 0 1.0em 0;
}

.comment p.title span.rating {
   position: absolute;
   top: 0;
   right: 0;
   font-weight: normal;
   font-size: 0.9em;
}

.comment p.helpfully {
   display: none;

   position: absolute;
   right: 0;
   top: 0;


   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;

   padding: 5px 8px;
   margin: 10px 10px 0 0;

   color: #000;
   background-color: #fff;
   text-align: center;
}

.comment p.helpfully {
   line-height: 20px;
}

.comment p.helpfully span {
   vertical-align: middle;
   line-height: 20px;
   display: inline-block;
}

.comment p.helpfully span.button_help {
   padding: 0 0 0 8px;
}

.comment button {
   display: inline-block;
   width: 16px;
   height: 16px;
   border: 0;
}

.comment button.helpful {
   background: url('./images/thumb-up.gif') no-repeat center;
}

.comment button.not_helpful {
   background: url('./images/thumb-down.gif') no-repeat center;
}

.comment p.author {
   font-size: 0.9em;
   margin: 0 0 1em 0;

   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;

   padding: 3px 6px;

   color: #000;
   background-color: #fff;
}

.comment div.body {
   padding: 0 5px;
}

.comment div.body blockquote {
   background-color: #fffcbc;
   font-style: italic;
   padding: 10px;
   border: thin solid black;
}

#box_votes div.pages {
   float: left;
   display: inline;
   padding: 6px 0 4px 0;
}

#box_votes div.sortorder {
   overflow: hidden;
   text-align: right;
}

/*
 *  article container
 */

#article .article_matrix,
#article fieldset.article_buyfield {
   display: block;
}

#article fieldset.article_buyfield label.block {
   display: block;
}

#article fieldset.article_buyfield ul li.label {
   font-weight: bold;
   margin: 0 0 5px 0;
}

#article fieldset.article_buyfield ul {
   margin: 0 0 10px 0;
}

#article fieldset.article_buyfield .choose_quantity {
   background-color: #fff;
   padding: 5px;
   text-align: center;

   /* radius 4 all */
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
}

#article fieldset.article_buyfield .choose_quantity span,
#article fieldset.article_buyfield .choose_quantity label,
#article fieldset.article_buyfield .choose_quantity button[type="submit"] {
   vertical-align: middle;
}

#article fieldset.article_buyfield label.disabled {
   font-weight: bold;
   color: #ff0000;
}

#article fieldset.article_buyfield select.required.error,
#article fieldset.article_buyfield input[type="text"].required.error {
   border: 1px solid #D80000;
}

#article fieldset.article_buyfield input[type="radio"].required.error + span {
   color: #D80000;
}

#article input.quantity {
   width: 38px;
   padding: 0.25em;
   font-weight: bold;
}

#article label.quantity {
   display: inline;
}

.change_quantity  {
   vertical-align: middle;
}

.change_quantity a,
.change_quantity a:link,
.change_quantity a:active,
.change_quantity a:visited {
   width: 1.6em;
   height: 1.6em;
   line-height: 1.6em;
   display: inline-block;
   background-color: #eee;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;
   color: #000;
   text-align: center;

   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
}

.change_quantity a:hover {
   background-color: #ddd;
}

/*
 *  article category
 */

.category_wrapper {
   border: 1px solid #ddd;
   padding: 1px;

   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
}

.category_wrapper.child {
   margin: 5px;
}

.category_wrapper.child.first {
   margin-left: 0;
}

.category_wrapper.child.last {
   margin-right: 0;
}

ul.category_subcategories {
   margin: 5px 0 10px 0;
}

.category_wrapper ul.category_item li {
   float: left;
}

.category_wrapper ul.category_item li.img {
}

.category_wrapper ul.category_item li.desc {
   float: none;
   overflow: hidden;
   padding: 5px;
}

/*
 * Style ul li lists in custom category-description
 */
.category_wrapper .desc li {
   list-style-type: disc;
   float: none !important;
   margin-left: 1.7em;
}

.category_wrapper ul.category_item li.desc div.item_desc {
   margin-bottom: 1em;
}

.category_wrapper ul.category_item li.desc div.item_desc:last-child {
   margin-bottom: 0;
}

.category_wrapper.child h2 a {
   font-size: 14px;
   font-weight: bold;
}

/*
 *  tag filter
 */
.tag_filter_wrapper {
   width: 50%;
   float: left;
   text-align: center;
}

.tag_filter_wrapper fieldset {
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   /*background-color: #f9f9f9;*/
   border: 1px solid #ddd;
}

.tag_filter_wrapper fieldset legend {
   font-weight: bold;
   font-size: 1.1em;
}

/*
 *  tagbox
 */

.tagbox {
   padding: 0.5em 0;
   text-align: center;
}

.tagbox .tag1 {
   font-size: .7em;
}

.tagbox .tag2 {
   font-size: .8em;
}

.tagbox .tag3 {
   font-size: .9em;
}

.tagbox .tag4 {
   font-size: 1.0em;
}

.tagbox .tag5 {
   font-size: 1.2em;
}

.tagbox .tag6 {
   font-size: 1.3em;
}

.tagbox .tag7 {
   font-size: 1.4em;
}

.tagbox .tag8 {
   font-size: 1.5em;
}

.tagbox .tag9 {
   font-size: 1.7em;
}

.tagbox .tag10 {
   font-size: 1.7em;
   font-weight: bold;
}

/*
 *  comparelist
 */
.comparelist table.tiny th,
.comparelist table.tiny td {
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
}

.comparelist table.tiny thead th,
.comparelist table.tiny thead td {
   padding: 4px 2px;
}

/*
 *  stars
 */
.stars {
   background: url('./images/stars.png') no-repeat center;
   width: 56px;
   height: 10px;
   display: inline-block;
}

.stars.p1 {
   background: url('./images/stars.png') no-repeat 0 -10px;
}

.stars.p2 {
   background: url('./images/stars.png') no-repeat 0 -20px;
}

.stars.p3 {
   background: url('./images/stars.png') no-repeat 0 -30px;
}

.stars.p4 {
   background: url('./images/stars.png') no-repeat 0 -40px;
}

.stars.p5 {
   background: url('./images/stars.png') no-repeat 0 -50px;
}

.stars.p0_25,
.stars.p0_75,
.stars.p0_5 {
   background: url('./images/stars.png') no-repeat 0 -60px;
}

.stars.p1_25,
.stars.p1_75,
.stars.p1_5 {
   background: url('./images/stars.png') no-repeat 0 -70px;
}

.stars.p2_25,
.stars.p2_75,
.stars.p2_5 {
   background: url('./images/stars.png') no-repeat 0 -80px;
}

.stars.p3_25,
.stars.p3_75,
.stars.p3_5 {
   background: url('./images/stars.png') no-repeat 0 -90px;
}

.stars.p4_25,
.stars.p4_75,
.stars.p4_5 {
   background: url('./images/stars.png') no-repeat 0 -100px;
}

/*
 *  matrix
 */
table.matrix {
   border-collapse: separate;
   border-spacing: 2px 2px;
}

table.matrix td.key {
   background-color: #ebebeb;
   text-align: center;
}

table.matrix td.element {
   background-color: #ebebeb;
   text-align: center;
   font-size: 0.9em;
}

table.matrix td.element:hover {
   background-color: #ddd;
}

table.matrix td.label {
   font-weight: bold;
   text-align: center;
}

table.matrix input[type="text"] {
   text-align: center;
   width: 3em;
   padding: 2px;
}

/*
 *  vertical text
 */
.vtext-container {
   display: block;
}

.vtext-container em.vtext {
   font-style: normal;
   display: block;
   text-align: center;
}

a.checkboxInfo {
   background: url('./images/question_small.png');
   display: inline-block;
   width: 16px;
   height: 16px;
   vertical-align: middle;
}

/*
 *  bestellvorgang
 */

/* 
 * Buttonloesung: Bestellpositionen inkl Pflichtinformationen gestalterisch hervorheben
 */
table.tiny.positions {
   background: #f6f6f6;
   border: 1px solid #ddd;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
}

table.tiny.positions tr.sums td {
   background-color: #fbfbfb;
   text-align: right;
}

table.tiny.positions tr.sums.xxx td {
   border-top: 2px solid #ddd;
}

table.tiny.positions tr.sums.final {
   font-weight: bold;
}

table.tiny.positions th,
table.tiny.positions td {
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   padding: 4px 6px;
}

table.tiny.positions thead th,
table.tiny.positions thead td {
   padding: 4px 2px;
}

#bestellvorgang a.button_edit {
   font-size: 0.9em;
}


#jtl_rma ul {
   padding: 0 0 0 20px;
}

#jtl_rma li {
   list-style-type: disc;
}

/*
 *  downloads (customer center)
 */
#jtl_downloads td.dl_download {
   vertical-align: middle;
}
 
#jtl_downloads td.dl_download button {
   background: url('./images/download.gif') no-repeat;
   width: 24px;
   height: 24px;
   margin: 0px auto;
   border: 0px;
   cursor: pointer;
}

table.tiny td div.dl_active {
   background: url('./images/success_small.png') no-repeat;
   width: 16px;
   height: 16px;
   margin: 0px auto;
   border: 0px;
}

/*
 *  downloads (article)
 */
#article_downloads {
   margin: 15px 0 25px 0;
}


/*
 *  configurator
 */
#article_configuration {
   margin: 20px 0;
}

#config_wrapper .config_group {
   position: relative;
   margin: 10px 0;
   clear: both;
}

#config_wrapper .config_group .img {
   float: left;
   width: 140px;
   text-align: center;
   display: block;
   padding: 0 10px 0 0;
}

#config_wrapper .config_group img {
   max-width: 140px;
}

#config_wrapper .config_group .group {
   overflow: hidden;
   
   /* radius 4 all */
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   
   background-color: #f5f5f5;
   padding: 5px 15px 15px 15px;
}

#config_wrapper .config_group .title {
   font-weight: bold;
   font-size: 1.1em;
   padding: 3px 0;
}

#config_wrapper .config_group .desc {
   font-size: 0.9em;
}

#config_wrapper .config_group .actions {
   float: right;
   margin: 6px 0 15px 15px;
}

#config_wrapper .config_group .desc + .title  {
   color: #ff00ff !important;
}

#config_wrapper .config_group .desc + .actions {
   margin-top: 18px;
}

#config_wrapper .config_group .actions p,
#config_wrapper .config_group .actions a {
   color: #666;
   background-color: #fff;
   
   display: inline;
   text-decoration: none;
   font-size: 0.9em;
   padding: 5px 8px;
   
   /* radius 4 all */
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
}

#config_wrapper .config_group .actions p.error {
   color: #fff;
   background-color: #CC474E;
}

#config_wrapper .config_group .item_wrapper {
   margin: 10px 0 0 0;
   padding: 10px;
   
   /* radius 4 all */
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   
   background-color: #fff;
}

#config_wrapper .config_group .item label {
   position: relative;
   padding: 5px 70px 3px 5px;
   display: block;
   
   /* radius 4 all */
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   
   border: 1px solid transparent;
}

#config_wrapper .config_group .item select {
   width: 100%;
}

#config_wrapper .config_group .item label:hover {
   border: 1px solid transparent !important;
   background-color: #f5f5f5 !important;
}

#config_wrapper .config_group .item label.recommended {
   border: 1px solid #e1ffe2;
   background-color: #edffee;
}

#config_wrapper .config_group .item.error label {
   border-color: #FFEBD2;
   background-color: #FFF3E3;
}

#config_wrapper .config_group .item.error select {
   border-color: #FFEBD2;
   background-color: #FFF3E3;   
}

#config_wrapper .config_group .item p.box_error {
   margin: 5px 0 10px 0;
   padding: 0.5em 0.5em 0.5em 20px;
   background: #FFF3E3 url('./images/arrow_double_top.gif') 5px center no-repeat;
}

#config_wrapper .config_group .item .price {
   position: absolute;
   right: 5px;
   top: 5px;
   color: #999;
}

#config_wrapper .config_group .item .additional,
#config_wrapper .config_group .item .discount {
   padding: 0 15px 0 0;
   font-size: 0.9em;
}

#config_wrapper .config_group .item .discount {
   color: #70B878;
}

#config_wrapper .config_group .item .additional {
   color: #537AAD;
}

#config_wrapper .config_group .quantity {
   padding: 5px;
   margin: 5px 0 0 0;
   vertical-align: middle;
   border-top: 1px dotted #ccc;
}

#config_wrapper .config_group .quantity label {
   vertical-align: middle;
}

#config_wrapper .config_group .quantity input {
   width: 38px;
   padding: 0.25em;
   vertical-align: middle;
}

#config_wrapper .config_group .quantity input.disabled {
   background-color: #eee;
}

.sidebox.box_config div.sidebox_content{
   background-color: #fff;
}

#box_config_list {

}

#box_config_list ul {
   margin: 0 0 5px 0;
   padding: 0 0 5px 0;
   list-style-type: none;
   border-bottom: 1px dotted #ccc;
}

#box_config_list ul li {
   font-size: 0.9em;
   padding: 4px 0;
   margin: 0;
}

#box_config_list ul li p.quantity {
   color: #666;
   float: left;
   min-width: 20px;
   padding: 0 0.5em 0 0;
}

#box_config_list ul li p {
   overflow: hidden;
}

#box_config_list ul li:first-child {
   padding-top: 0px;
}

#box_config_list ul li.title {
   list-style-type: none;
   margin: 0 !important;
   font-weight: bold;
}

#box_config_price {
   text-align: center;
}

#box_config_price span.price_label {
   font-size: 0.9em;
   /*display: block;*/
}

#box_config_price span.price {
   display: block;
}

.config_overlay {
   display: none;
   position: absolute;
   z-index: 9999;
   
   background-color: #f5f5f5;
   padding: 10px;
   margin: 5px 0 0 0;
   width: 670px;
   
   /* radius 4 all */
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   
   box-shadow: 0px 4px 10px #999;
   opacity: 0.95;
}

/*
 * config / slider
 */
#config_slider_wrapper .ui-slider { 
   position: relative; 
   text-align: left; 
   background: transparent url('./images/slider_track.gif') top left no-repeat; 
   width: 409px;
   height: 20px;
}

#config_slider_wrapper .ui-slider-active { 
   position: relative; 
   text-align: left; 
   background: transparent url('./images/slider_track_hover.gif') top left no-repeat;
   height: 20px;
   width: 0px;
}

#config_slider_wrapper .ui-slider .ui-slider-handle {
   position: absolute; 
   z-index: 2; 
   width: 20px; 
   height: 10px; 
   cursor: e-resize;
}

#config_slider_wrapper .ui-slider .ui-slider-range { 
   position: absolute;
   z-index: 1;
   font-size: .7em;
   display: block;
   border: 0;
   background-position: 0 0;
}

#config_slider_wrapper .ui-slider-horizontal {
   margin: 5px 0 15px 0;
}

#config_slider_wrapper .ui-slider-horizontal .ui-slider-handle {
   top: 20px;
   margin-left: -10px;
   background: transparent url('./images/slider_handler.gif') top left no-repeat;
}

#config_slider_wrapper .ui-slider-horizontal .ui-slider-range {
   top: 0;
   height: 100%;
}

#config_slider_wrapper .ui-slider-horizontal .ui-slider-range-min { 
   left: 0;
}

#config_slider_wrapper .ui-slider-horizontal .ui-slider-range-max {
   right: 0;
}

#config_slider_wrapper  #box_config_list ul li p.quantity.percent {
   min-width: 40px;
}

#config_slider_wrapper .item_wrapper {

}

#config_slider_wrapper .item_wrapper .item {
   padding: 10px 0;
   border-bottom: 1px dotted #ccc;
   background: #f5f5f5 url('./images/slider_group_bg.gif') top left repeat-x;
}

#config_slider_wrapper .item_wrapper .item .img {
   float: left;
}

#config_slider_wrapper .item_wrapper .item .desc {
   overflow: hidden;
   margin: 15px 0 0 0;
}

#config_slider_wrapper .item_wrapper .item .slider {
   float: left;
   width: 410px;
   padding: 0 20px;
}

#config_slider_wrapper .item_wrapper .item .slider h2 {
   float: left;
   font-size: 1.4em;
   margin: 0;
}

#config_slider_wrapper .item_wrapper .item .slider h2.slider_value {
   float: right;
}

#config_slider_wrapper .item_wrapper .item .slider h2.slider_value.not_null {
   color: #E3531B;
}

#config_slider_wrapper .item_wrapper .item .info {
   float: left;
}

#config_slider_wrapper .item_wrapper .item .info p {
   line-height: 1.8em;
}

#config_slider_wrapper .item_wrapper .item .info p.price_base {
   color: #666;
   font-weight: bold;
}

#config_slider_wrapper .item_wrapper .item .info p.comp_desc {
   font-size: .9em;
   max-width: 260px;
}

#config_slider_wrapper  .item_wrapper .item.active {
   border-bottom: 1px dotted #ffda53;
   background: #f6f1dd url('./images/slider_group_bg_active.gif') top left repeat-x;
}

#config_slider_wrapper  .item_wrapper .item.disabled {
   opacity: 0.4;
}

#config_slider_wrapper  .item_wrapper .item.active .ui-slider {
   background: transparent url('./images/slider_track_active.gif') top left no-repeat;
}

#box_config_list .pro_out {
   background-color: #ededed;
   height: 10px;
   margin: 2px 0;
}
#box_config_list .pro_in {
   background-color: #e3531b;
   height: 10px;
   width: 1px;
}

#box_config_list .glob {
   margin: 0 0 10px 0;
}

#box_config_list .overall_out {
   background-color: #ededed;
   position: relative;
   height: 20px;
   margin: 2px 0;
}

#box_config_list .overall_value {
   top: 0; left: 0;
   position: absolute;
   width: 100%;
   
   color: #fff;
   line-height: 20px;
   text-align: center;
}

#box_config_list .overall_value > span {
   color: #333;
   padding: 0 3px;
}

#box_config_list .overall_in {
   background-color: #DBDBDB;
   height: 20px;
   width: 1px;
}

.imagemap .area,
.imagemap .area_desc {
   display: none;
   position: absolute;
}

.imagemap .custom_content .photo img {  
   float: left;
   margin: 0 5px 5px 0;
   max-height: auto;
   height: 60px;
   width: auto;
   max-width: 60px; 
}

.imagemap .custom_content .price {
   font-size: 1em;
}

.imagemap .custom_content .description {
   clear: left; 
}

/*
 * Product Bundles
 */
.product_bundle {
   background-color: whiteSmoke;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   padding: 10px;
}

.product_bundle div.bundle {
   background-color: white;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   vertical-align: middle;
   padding: 10px;
}

.product_bundle div.bundle li {
   display: inline-block;
   vertical-align: middle;
}

.product_bundle div.header {
   font-weight: bold;
   line-height: 40px;
   height: 40px;
   vertical-align: middle;
   font-size: 1.2em;
}

.product_bundle div.footer {   
   vertical-align: middle;
   margin: 10px 0 0 0;
}

.product_bundle div.footer div.price {
   float: left;
   margin: 0 15px 0 0;
}

.product_bundle div.footer span.price {
   font-weight: bold;
   font-size: 1.2em;
   color: #4A4A4A;
}

.product_bundle div.footer div.basket {
   
}

.product_bundle div.footer span.discount {
   font-weight: normal;
   font-size: 0.8em;
   color: #4A4A4A;
}

.product_bundle span.plus {
   color: #DD4800;
   font-weight: 700;
   font-size: 3em;
   margin: 0 5px;
}





/*
 * Custom Print Styles 
 */ 

.panel_left #content,
.panel_right #content {
   margin: 0;
   padding: 0;
}

.tag_filter_wrapper,
.page_navigation,
#improve_search,
#header_wrapper,
#search,
#speciallinks,
#breadcrumb,
#footer_wrapper,
#content_footer,
.article_buyfield,
#article_buyfield .choose_quantity,
.panel_right #sidepanel_right,
.panel_left #sidepanel_left,
.article_navigator,
ul.semtabs,
.article_tags,
.article_parts_list,
.article_xselling,
.article_xboughtalsoy,
.article_similar,
button.wishlist,
overlay_image, 
button.compare,
button.question, 
.addthis_button,
li.preisverlauf,
span.otherProductsFromManufacturer,
div.quantity,
p.mandatoryFields,
#chart_wrapper,
h2.price_chart,
li.preisverlauf,
#article ul.article_list li ul.actions,
#article ul.article_list li:last-child,
div.loader,
#article_popups,
div.article_list_xseller,
div.article_list_of_related_products,
div.article_images,
p.box_success, 
.overlay_image
{
   display: none !important;
}

.panel h2 {
   display: block;
}

#outer_wrapper,
#content {
   width: 100%;
}

/* Firefox print-fix (hebt die Regeln aus page.css wieder auf) */
#content .custom_content { overflow: visible; }
#content_wrapper { float:none; }

a {
	text-decoratione:none;
	color:#000;
}

div.article_wrapper a span.desc, article_wrapper a span.img {
/* 	float:left; */
	display:block !important;
}

input.hidden {
	display:none;
}

div.image div#wrap {
	float:left;
	margin-right:10px;
}

form#buy_form {
	display:block;
	margin-bottom:40px;
}
