.sidebox {
   margin: 0 0 20px;
   padding: 0;
}

.sidebox h3 {

	color: #fff;
background: #202020;
padding: 10px 13px 11px 13px;
text-transform: uppercase;
margin: 0 0 20px 0;

   line-height: 20px;
    margin: 0;
    position: relative;
  
}



.sidebox div.sidebox_content {
   padding: 10px 0;
   position: relative;
}

.sidebox_content select {
   padding: 2px;
	width: 99%; 
}
.sidebox_content p {
    margin: 5px 0;
}

/*
 *  kategorien
 */
ul.categories li {

}

ul.categories li a {
   display: block;
   padding: 4px 0;
   text-decoration: none;
   /* ie8 compatibility cursor bugfix */
   cursor: pointer;
   
   font-size: 1.1em;
}

ul.categories li a:hover {
   
}

ul.categories span {
   display: inline-block; 
}

ul.categories ul.subcat span {
	font-weight: normal;
}

ul.categories ul.subcat ul.subcat span {
   padding-left: 34px;
   background: transparent none; font-size: .9em;
}

ul.categories li ul {
   margin-left: 10px;
}

/* Unterkategorien und Unter-Unterkategorien bold */
ul.categories ul.subcat > .active > a > span, ul.categories ul.subcat ul.subcat > .active > a > span { 
	font-weight: bold; 
}

/*
 *  standardliste
 */
ul.list li a {
   display: block;
   text-decoration: none;
   padding: 2px 0 2px 12px;
   background: url('./images/square.png') no-repeat 4px 0;
}

ul.list li a:hover {
   text-decoration: underline;
   background-color: #f2f5fa;
}

/*
 *  warenkorb
 */
a.basket {
   min-height: 56px;
   background: url("./images/sb_bag_black.png") no-repeat scroll 5px center transparent;
   display: block;
   text-decoration: none;
}

a.basket.pushed {
}

a.basket span {
   display: block;
   padding-left: 50px;
   padding-top: 10px;
   color: #333;
}

a.basket span.basket_link {
    line-height: 0.9em;
    padding-top: 0.5em;
    text-decoration: underline;
}

p.last_added {
   font-size: 0.9em;
   border-bottom: 1px dotted #ccc;
   margin: 1em 0;
   text-align: center;
}

p.basket_totalsum {
   font-size: 1em;
   line-height: 1.5em;
   border-top: 1px dotted #ccc;
   margin: 1em 0 0 0;
   text-align: center;
}

ul.positions {
   margin: 0;
   padding: 0;
}

ul.positions li {
   margin: 0 !important;
   padding: 0 !important;
}

ul.positions li.image {
   width: 40px;
   float: left;
   margin-right: 5px !important;
}

ul.positions li.desc {
   overflow: hidden;
}

#basket_loader {
   position: absolute;
   top: 0; right: 4px;
   width: 16px;
   height: 26px;
   display: none;
   background: url('./images/ajax-loader.gif') no-repeat center;
}

/*
 *  vergleichsliste
 */
ul.comparelist {
   margin: 0 0 1em 0;
}

ul.comparelist li {
   position: relative;
}

ul.comparelist li.img {
   float: left;
   margin: 0 5px 0 0;
}

ul.comparelist li.img img {
   width: 30px;
}

ul.comparelist li.desc {
   overflow: hidden;
   padding-right: 10px;
}

ul.comparelist a.remove {
   position: absolute;
   top: 0;
   right: 0;
   width: 10px;
   height: 10px;
   background: url('./images/remove10.png') no-repeat center;
}

/*
 *  filter
 */
.sidebox_content_filter {
}

ul.filter_state li {
	display: block;
	width: 100%;
}

ul.filter_state.disabled,
ul.filter_state a {
	display: block;
   padding-left: 18px;
   text-decoration: none;
   background: url('./images/filter_checkbox.gif') no-repeat left 3px;
}

ul.filter_state a:hover {
   background: #f8f8f8 url('./images/filter_checkbox_hover.gif') no-repeat center left;
}

ul.filter_state a.active {
   background: url('./images/filter_checkbox_checked.gif') no-repeat center left;
}

ul.filter_state a.active:hover {
   background: #f8f8f8 url('./images/filter_checkbox_checked.gif') no-repeat center left;
}

ul.filter_state em.count {
   color: #666;
   font-style: normal;
   font-weight: normal;
   font-size: 0.8em;
}

ul.filter_state li.label {
   margin: 10px 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.1em;
}

ul.filter_state li.label:first-child {
   margin-top: 0;
}

/*
 *  login
 */
.box_login input[type="text"],
.box_login input[type="password"] {
   width: 94%;
   margin: 3px 0;
   padding: 3px 0;
   color: #666;
}

.box_login input[type="submit"] {
   margin: 5px 0 2px 0;
}

/*
 *  misc
 */
.sidebox .container  {
   padding: 1em 0;
}

.sidebox .tinycontainer  {
   padding: 0.5em 0;
}

/*
 *  tagcloud
 */
.tagcloud1 { font-size: 0.7em; }
.tagcloud2 { font-size: 0.75em; }
.tagcloud3 { font-size: 0.8em; }
.tagcloud4 { font-size: 0.85em; }
.tagcloud5 { font-size: 0.9em; }
.tagcloud6 { font-size: 0.95em; }
.tagcloud7 { font-size: 1.0em; }
.tagcloud8 { font-size: 1.05em; }
.tagcloud9 { font-size: 1.5em; }
.tagcloud10 { font-size: 2.0em; }